.calc {
    width: 198px; // ok
    height: 350px; 
    background: #1E1C21;
    backdrop-filter: blur(40px) saturate(1.2);
    position: absolute;
    top: calc(50% - 98px);
    left: calc(50% - 175px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 36px 100px 0 rgba(0, 0, 0, 0.40), 0 0 3px 0 rgba(0, 0, 0, 0.55), inset 0 0 3px 0 rgba(255, 255, 255, 0.10);
    // justify-content: center;

    .main {
        width: 100%;
        height: 100%;
        padding: 20px;
        font-size: 20px;
        font-family: "SFPro-Regular";
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .display {
            // background: #000;
            // border-radius: 8px;
            padding-right: 8px;
            // margin-bottom: 16px;
            text-align: right;
            overflow: hidden;

            .result {
                font-size: 48px;
                font-weight: 300;
                color: #fff;
                line-height: 1;
                word-wrap: break-word;
            }
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 6px;

            button {
                width: 36px;
                height: 36px;
                border-radius: 36px;
                border: none;
                transition: all 0.1s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f0f0f0;
                color: #000;
                font-family: "SFPro-Regular" !important;

                &:hover {
                    background: #e0e0e0;
                }

                &.clear, &.plus-minus, &.percent {
                    background: #686668;
                    color: white;

                    &:active {
                        filter: brightness(1.2);
                    }
                }

                &.divide, &.multiply, &.subtract, &.add, &.equals {
                    background: #FD8208;
                    color: white;

                    &:active {
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
}

.wintools {
    display: inline-flex;
    margin: 8px;
    align-self: flex-start;

    .red {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: #ff5f57;
        border: solid 0.5px rgba(0, 0, 0, 0.2);
        margin-right: 8px;
    }

    .yellow {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: #febc2e;
        border: solid 0.5px rgba(0, 0, 0, 0.2);
        margin-right: 8px;
    }

    .gray {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.1);
        border: solid 0.5px rgba(0, 0, 0, 0.2);
        margin-right: 8px;
    }

    div:not(.gray):active {
        filter: brightness(0.85);
    }
}