.finder {
    box-shadow: 0 36px 100px 0 rgba(0, 0, 0, 0.40), 0 0 3px 0 rgba(0, 0, 0, 0.55), inset 0 0 3px 0 rgba(255, 255, 255, 0.10);
    border-radius: 12px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    overflow: hidden;
    // background: #fff;
    font-family: "SFPro-Regular", "PingFangSC-Regular";

    .left {
        width: 200px;
        height: 100%;
        background:
            linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            rgba(246, 246, 246, 0.84);
        backdrop-filter: blur(30px) brightness(2);
        -webkit-backdrop-filter: blur(50px) brightness(2);
        display: flex;
        flex-direction: column;

        .topbar {
            height: 52px;
            display: flex;
            align-items: center;
            padding-left: 20px;

            .wintools {
                display: flex;
                align-items: center;
                gap: 8px;
                width: 100%;
                height: 100%;

                .red,
                .yellow,
                .green {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 0.5px solid rgba(0, 0, 0, 0.2);
                }

                .red {
                    background: #ff5f57;
                }

                .yellow {
                    background: #febc2e;
                }

                .green {
                    background: #28c840;
                }

                div:active {
                    filter: brightness(0.85);
                }
            }
        }

        .sidebar-list {
            flex: 1;
            padding: 10px;
            padding-top: 0;
            overflow-y: auto;

            .group-title {
                font-size: 11px;
                color: #888;
                font-weight: 600;
                margin: 10px 10px 5px;
            }

            .item {
                display: flex;
                align-items: center;
                padding: 6px 10px;
                border-radius: 6px;
                cursor: default;

                &.active {
                    background: rgba(0, 0, 0, 0.1);
                }

                .icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                    filter: opacity(0.8);
                }

                span {
                    font-size: 13px;
                }
            }
        }
    }

    .edge {
        width: 1px;
        height: 100%;
        box-shadow: -1px 0 0.5px rgba(0, 0, 0, 0.05);
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 200px;
        top: 0;
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: #fff;

        .toolbar {
            height: 52px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);

            .navigation-controls {
                display: flex;
                gap: 15px;
                margin-right: 20px;

                img {
                    width: 10px;
                    opacity: 0.5;
                    filter: invert(1);
                }
            }

            .title {
                font-weight: 600;
                font-size: 14px;
                flex: 1;
                // text-align: center;
                margin-right: 60px;
            }
        }

        .main-content {
            flex: 1;
            padding: 20px;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 20px;

            .file-item {
                width: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                cursor: default;

                &.selected {
                    img {
                        background: #0001;
                        border-radius: 6px;
                    }

                    span {
                        background: #3478f6;
                        color: white;
                        border-radius: 3px;
                        padding: 0 4px;
                    }
                }

                img {
                    width: 64px;
                    height: 64px;
                    padding: 10px;
                    // margin-bottom: 5px;
                    object-fit: contain;
                }

                span {
                    font-size: 12px;
                    color: #333;
                    word-break: break-all;
                    line-height: 1.3;
                }
            }
        }
    }
}